@{
    ViewBag.Title = "AboutUs";
}



<body class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 align="center">Sobre Nosotros</h4>
        </div>
        <div class="panel-body">

            <form id="registration-form" class="col-md-9 col-md-offset-3 form-horizontal" role="form">
         

                <img align="center" src="~/Imagenes/GLOBALVOICES.jpg" alt="Mountain View" style="width:480px;height:480px;">

                <h5> Global Voices es una academia de ingles formada en el año 2010, la cual realiza </h5>
                <h5>  preparaciones para exámenes Internacionales como son: FCE, TOEFL, KAE, etc. </h5>

                <b>Siguenos en Facebook </b> <a href="https://www.facebook.com/profile.php?id=100009567949628"> 
                
                   <img align="center" src="/Imagenes/Facebook.jpg" alt="Mountain View" style="width:35px;height:35px;"></a>
                
            </form>

        </div>
    </div>



</body>
